# Pandas data manipulation and transformation

In [143]:
import numpy as np
import pandas as pd

In [144]:
imdb_movies = pd.read_csv("../datasets/imdb-movies.csv")
imdb_movies.set_index('Rank', inplace=True)
imdb_movies.shape

(1000, 10)

In [145]:
imdb_movies.sample(5)

,Title,Genre,Director,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Actors
Rank,,,,,,,,,,
164,Jack Reacher: Never Go Back,"Action,Adventure,Crime",Edward Zwick,2016,118,6.1,78043,58.40,47.0,"Tom Cruise, Cobie Smulders, Aldis Hodge, Rober..."
291,Busanhaeng,"Action,Drama,Horror",Sang-ho Yeon,2016,118,7.5,58782,2.13,72.0,"Yoo Gong, Soo-an Kim, Yu-mi Jung, Dong-seok Ma"
779,Chalk It Up,Comedy,Hisonni Johnson,2016,90,4.8,499,NaN,NaN,"Maddy Curley, John DeLuca, Nikki SooHoo, Drew ..."
42,Moonlight,Drama,Barry Jenkins,2016,111,7.5,135095,27.85,99.0,"Mahershala Ali, Shariff Earp, Duan Sanderson, ..."
207,Raw (II),"Drama,Horror",Julia Ducournau,2016,99,7.5,5435,0.51,81.0,"Garance Marillier, Ella Rumpf, Rabah Nait Oufe..."

### Question 1: do movies longer tha 2h45 get better scores than movies shorter than 100 mins?

In [146]:
# 2 hrs 45 = 165 mins

# average of scores > 165 mins
# average of scores < 100 mins

long_movies  = sum(  (imdb_movies.loc[:,'Runtime (Minutes)'] > 165) & (imdb_movies['Metascore'] > 0 ) )
short_movies = sum(  (imdb_movies.loc[:,'Runtime (Minutes)'] < 100) & (imdb_movies['Metascore'] > 0 ) )

print("number of movies > 2hrs 45 = ",long_movies)
print("number of movies < 100 mins = ",short_movies)


#imdb_movies.groupby(['Runtime (Minutes)', 'Metascore']).mean()

imdb_movies.loc[imdb_movies['Runtime (Minutes)']<100,'Score vs length'] = 'Less than 100 mins'     #short
imdb_movies.loc[imdb_movies['Runtime (Minutes)']>165,'Score vs length'] = 'Over 2hrs 45 mins'     #long

imdb_movies.groupby(['Score vs length']).mean()['Metascore']

number of movies > 2hrs 45 =  9
number of movies < 100 mins =  227

Score vs length
Less than 100 mins    55.867841
Over 2hrs 45 mins     67.222222
Name: Metascore, dtype: float64

### Question 2: which is the director with highest revenue per minute of runtime?

In [147]:
# Divide revenue by runtime 

#imdb_movies.groupby(['Director', 'Runtime (Minutes)' ]).sum()['Revenue (Millions)']

imdb_movies.loc[imdb_movies['Runtime (Minutes)'] > 0,'Revenue by minute'] = imdb_movies['Revenue (Millions)'] / imdb_movies['Runtime (Minutes)']

#imdb_movies.groupby(['Director']).sum()['Revenue by minute'].max()

imdb_movies.groupby(['Director']).sum()['Revenue by minute'].sort_values(0)

/var/folders/ry/3hkntqmd6lx9rvtg9q4zp4vr0000gn/T/ipykernel_48283/1358371052.py:9: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  imdb_movies.groupby(['Director']).sum()['Revenue by minute'].sort_values(0)

Director
Gregory Jacobs        0.000000
John Butler           0.000000
Chris Stokes          0.000000
Jim Sheridan          0.000000
Chris McCoy           0.000000
                       ...
Michael Bay           9.423046
Christopher Nolan     9.738683
Francis Lawrence     10.243712
David Yates          11.950776
J.J. Abrams          12.841471
Name: Revenue by minute, Length: 644, dtype: float64

### Question 3: which is the most common movie genre in our dataset between 2007 and 2014?

In [154]:
# filter by year >= 2007 and year <=2014

imdb_movies.groupby(['Year']).max()['Genre']

/var/folders/ry/3hkntqmd6lx9rvtg9q4zp4vr0000gn/T/ipykernel_48283/4265933573.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  imdb_movies.groupby(['Year']).max()['Genre']

Year
2006           Mystery,Thriller
2007                   Thriller
2008            Sci-Fi,Thriller
2009    Horror,Mystery,Thriller
2010           Mystery,Thriller
2011    Romance,Sci-Fi,Thriller
2012             Horror,Mystery
2013           Mystery,Thriller
2014                   Thriller
2015           Mystery,Thriller
2016               Thriller,War
Name: Genre, dtype: object

### Question 4: which is the actor who has appeared in more movies between 2009 and 2015?

In [156]:
# separate actors and store them in a set? 

# filter by year > 2009 and year < 2015

imdb_movies.groupby(['Year']).max()['Actors']

/var/folders/ry/3hkntqmd6lx9rvtg9q4zp4vr0000gn/T/ipykernel_48283/1427844360.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  imdb_movies.groupby(['Year']).max()['Actors']

Year
2006    Will Smith, Thandie Newton, Jaden Smith, Brian...
2007    William Atherton, Blythe Auffarth, Blanche Bak...
2008    Will Smith, Rosario Dawson, Woody Harrelson,Mi...
2009    Zooey Deschanel, Joseph Gordon-Levitt, Geoffre...
2010    Zachary Gordon, Robert Capron, Rachael Harris,...
2011    Zachary Gordon, Devon Bostick, Robert Capron,R...
2012    Zachary Gordon, Robert Capron, Devon Bostick,S...
2013    Vince Vaughn, Owen Wilson, Rose Byrne, Aasif M...
2014    Zoey Deutch, Lucy Fry, Danila Kozlovsky, Gabri...
2015    Zac Efron, Wes Bentley, Emily Ratajkowski, Jon...
2016    Zoey Deutch, Nicholas Braun, Mateo Arias, Isra...
Name: Actors, dtype: object